---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me";
const identity = {
  firstName: "Ethan",
  country: "United States",
  occupation: "Engineering Student",
  hobbies: ["Improv", "Making", "Yapping"]
}
const skills = ["HTML", "CSS", "JavaScript", "Astro"];
const happy = true;
const finished = false;
const goal = 3;
const skillColor = "crimson";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
  <style is:global define:vars={{skillColor, fontWeight, textCase}}>
    h1 {
      color: purple;
      font-size: 4rem;
    }
    .skill {
      color: var(--skillColor);
      font-weight: var(--fontWeight);
      text-transform: var(--textCase);
    }
  </style>

  <body>

    <h1>My Astro Portfolio Site</h1>

    <p>Here are a few fun facts about me:</p>
    <ul>
      <li>My name is {identity.firstName}.</li>
      <li>I live in {identity.country} and I am currently an {identity.occupation}.</li>
      
      {identity.hobbies.length >= 2 &&
        <li>Some of my hobbies include {identity.hobbies[0]} and {identity.hobbies[1]}.</li>
      }
    </ul>

    <p>My skills are:</p>

    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

    {happy && <p>I am happy to be learning Astro!</p>}

    {finished && <p>I finished this tutorial!</p>}

    {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}

  </body>
</BaseLayout>