---
const platform = "github";
const username = "wheat-than";
const insta = "wheat_than";
const linkedin = "ethan-gray-bb024423a";
---

<footer>
	<p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
	<p>Follow me on Instagram <a href={`https://www.instagram.com/${insta}`}>@{insta}</a>!</p>
	<p>Connect with me on linkedin <a href={`https://www.linkedin.com/in/${linkedin}`}>here</a>!</p>
</footer>